<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Toggle Switch with JavaScript Event</title>
  <link rel="stylesheet" href="static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="ergebnis" class="ergebnis">
  Der Switch ist <span id="status">inaktiv</span>.
</div>

<label class="toggle">
  <input id="toggleswitch" type="checkbox">
  <span class="roundbutton"></span>
</label>
<label class="toggle">
  <input id="toggleswitch2" type="checkbox">
  <span class="roundbutton"></span>
</label>
<!-- partial -->
  <script  src="static/script.js"></script>

</body>
</html>
